<div class="mb-3">
    <input
      type="text"
      class="form-control"
      placeholder="Search contacts..."
      [(ngModel)]="searchQuery"
    />
  </div>
  
  <div class="d-flex justify-content-between mb-3">
    <app-view-toggle [(viewMode)]="viewMode"></app-view-toggle>
    <button class="btn btn-primary" (click)="openContactForm()">Add Contact</button>
  </div>
  
  <div *ngIf="viewMode === 'grid'" class="row">
    <div *ngFor="let contact of contactService.getAllContacts()" class="col-md-4 mb-3">
      <div class="card contact-card">
        <img [src]="contact.imageUrl" class="card-img-top" alt="Contact Image" />
        <div class="card-body">
          <h5 class="card-title">{{ contact.firstName }} {{ contact.lastName }}</h5>
          <p class="card-text">{{ contact.email }}</p>
          <button class="btn btn-sm btn-outline-primary me-2" (click)="openContactForm(contact)">
            Edit
          </button>
          <button class="btn btn-sm btn-outline-danger" (click)="deleteContact(contact.id)">
            Delete
          </button>
        </div>
      </div>
    </div>
  </div>
  
  <div *ngIf="viewMode === 'list'" class="list-group">
    <div *ngFor="let contact of contactService.getAllContacts()" class="list-group-item">
      {{ contact.firstName }} {{ contact.lastName }} - {{ contact.email }}
    </div>
  </div>